<button onclick="history.back()" style="color:blue;">&lt;&lt; Go Back</button><br/><br/>
<section>
  <h1><b>ID :</b> <%=@truck.id%> </h1>
  <h2><b>Applicant :</b> <%=@truck.applicant%> </h2>
  <h2><b>Type :</b> <%=@truck.f_type%> </h2>
  <h2><b>Description :</b> <%=@truck.descr%> </h2>
  <h2><b>Address :</b> <%=@truck.address%> </h2>
  <h2><b>Status :</b> <%=@truck.status%> </h2>
  <h2><b>Items :</b> <%=@truck.items%> </h2>
</section>